<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>

<form action="/dogs" method="POST">
  <label>Name
    <input type="text" name="dog[name]" value="<%= @dog.name %>">
  </label>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label>Owner
    <input type="text" name="dog[owner]" value="<%= @dog.owner %>">
  </label>

  <input type="submit">
</form>
